<div style="position: relative; width: 700px; height: 700px">
{{bing-map lat=lat lng=lng zoom=zoom mapTypeId=mapTypeId markers=markers polygonLocation=polygonLocation fillColor=fillColor strokeColor=strokeColor}}
</div>
